html
{
  margin:0;
  height:100%;
  font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3','Meiryo', 'メイリオ', 'sans-serif';
}

body
{
  background-color: #eee;
  behavior: url("./Launcher/PIE.htc");
  height:100%;
  margin:0 auto;
  box-sizing: border-box;
  background-image: url("marble.png"); 
}

#header {
  margin:20px auto;
  color:#FFFFFF;
  font-size:50px;
  height: 100px;
  box-sizing: border-box;
}

#logo
{
  margin:0 auto;
  height:100px;
}

#footer{
  margin:0 auto;
  clear:both;
  text-align:center;
  /*background-color: #eee;*/
  height:100px;
  max-height:70px;
  min-height:0px;
  box-sizing: border-box;
  overflow-y:hidden;
  width: 90%;
  margin-top:30px;
}

.title
{
  text-align:center;
}

.container {
  padding:15px;
  width : 98% ;
  margin : 0 auto ;
  text-align : left ;
  overflow:hidden;
  display: inline;
}

.boxC      { display: inline; width:600px; float : left ; display: inline;}
.boxPic  { margin-top: 40px; width : 290px ; float : left ; display: inline;}
.clearfix{clear:both;}

table
{
  behavior: url("./Launcher/PIE.htc");
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: 30px;
  padding-left:30px;
  overflow:hidden;
  box-sizing: border-box;
}


td.left
{
  font-weight:bold;
  text-align:center;
  width:150px;
  word-break: break-all;
  color :#333;
  padding:10px;
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
}

td.right
{
 /* min-width:40%; */
  color :#333;
  padding:10px;
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
}


tr:first-child
{
  border-top: 2px solid #333;
}

tr:last-child
{
  border-bottom: 2px solid #333;
}

img.screenshot
{
  max-height:300px;
  height:auto;
  width:280px;
}

ul.group
{
	behavior: url("/Launcher/PIE.htc");
	font-size:0;
	width:90%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	display: table;
	table-layout: fixed;

}

ul.group li
{
	display: table-cell;
	vertical-align: middle;
}

ul.group img
{
	border: none;
	display: table-cell;
	margin-bottom:5px;
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
	vertical-align: middle;
	width:95%;
}

ul.group img:hover
{
	border: ridge 5px #ff0000;
	margin-bottom:0px;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
}

.buttons{
  text-align:right;
}

.execButton{
  margin-right:25px;
  margin-bottom:25px;
}

.close_btn{
  margin-right:25px;
  margin-bottom:25px;
}

#entity {
  margin:0 auto;
  height:100%;
  width:100%;
  box-sizing: border-box;
}

/* common setting */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #fff;
    overflow: hidden;
    z-index: 101;
    width: 1000px;
}

.popup_inner {
	margin:20px;
    padding: 20px;
	background-color:#eee;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity:0.7;
    z-index: 100;
}
